task-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  text-align: center;
  pointer-events: fill;
  font-family: myFirstFont;
}
.invite-fri {
  position: fixed;
  bottom: 17% !important;
  padding-top: 5px;
  border-radius: 100px;
  width: 95%;
  height: 60px !important;
  background-color: #034807;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.mb15 {
  margin-bottom: 15px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 0px;
}
.invite-fri h2 {
}
.card {
  width: 90px;
  height: 105px !important;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 5px;
}
.card-front {
  background-color: #f0f0f0;
}
.card-back {
  background-color: #4caf50;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(243, 95, 95);
  font: bolder;
}
.task-message {
  margin-top: 20px;
  color: red;
  font-size: 1rem;
}
.cancel-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.cancel-icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.cancel-icon:hover {
  color: #f00;
}
.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
}
.cancel-icon {
  top: 10px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}
.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.chancesleft {
  font-size: 15px;
  margin-top: 8px;
  color: #938484;
}
.popup {
  background-position: center;
  background-size: 100% 100%;
  width: 90%;
  background-image: url("../../../assets/Task/task-bg.png");
  position: fixed;
  bottom: 17%;
  padding: 20px;
}
.epic {
  color: #fff;
  font-family: press;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.epic-div {
  border: 2px solid #55545421;
  padding: 30px 12px;
  margin: 10px;
  background: #1e1e1eab;
  border-radius: 40px;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-card-image {
  width: 40%;
  margin-top: -53px;
  margin-bottom: 30px;
}
.popup-card-image-popup {
  width: 33%;
  /* margin-top: -15px; */
  /* margin-bottom: 20px; */
  padding: 5px;
  padding-bottom: 5px;
}
.rw-popup {
  font-size: 18px;
  color: aliceblue;
}
.btn-reward {
  width: 80%;
  background: #277e1e;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #079b16;
}
.btn-reward .spinner-loader {
  width: 20px; /* Adjust size as needed */
  height: 20px;
}
.cancel-img {
  width: 5%;
  position: absolute;
  right: 25px;
  top: 25px;
}
.pickcard-points {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.pick-para {
  color: #2cff2c;
  margin-bottom: 7px;
}
.epic-pick {
  padding: 10px 10px;
  margin: 15px;
  width: 265px;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  background-image: url("../../../assets/images/epic-bg.svg");
}
