/* General styling for the body to center the content */
.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;

  font-family: myFirstFont;
}

/* Styling for the buttons */
.wallet-button {
  background-color: #034807;
  color: #4cf038;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  /* width: 80%; */
  max-width: 380px;
  display: block;
  text-transform: uppercase;
}

.wallet-button:hover {
  background-color: #028106; /* Darker green shade on hover */
}

.wallet-button:active {
  background-color: #005f04; /* Even darker green when active */
}

/* Loading text styling */
.loading-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; /* White text color from reference */
}

/* Styling for the connected wallet text */
.wallet-address {
  text-align: center;
  font-size: 18px;
  color: #4cf038; /* Green color from reference */
  margin-bottom: 20px;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .wallet-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  .wallet-address {
    font-size: 16px;
  }
}

.menupointer .airdrop-tasks {
  font-size: 19px;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
  font-family: mySecondFont;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -200px;
  /* margin-right: 60px; */
  /* margin-left: 62px; */
}

.menupointer .airdrop {
  background: rgba(160, 160, 160, 1);
  font-size: 12px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
  font-family: myFirstFont;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 18px;
}

.menupointer .taskList {
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
  font-size: 15px;
  /* text-align: center; */
  /* margin-left: 40px; */
  font-family: myFirstFont;
}

.connectWallet-button {
  background-color: #034807;
  color: #4cf038;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  /* width: 180%; */
  /* margin-left: -58px; */
  margin-top: 6px;
  max-width: 380px;
  display: block;
  text-transform: uppercase;
}
