.totalpoints {
  font-family: "Press Start 2P", system-ui;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  /* font-weight: 400; */
  font-style: normal;
}

.doearn-img {
  background-position: center;
  background-size: 100% 100%;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  background-image: url("../../assets//images/doearn-img.svg");
  font-family: myFirstFont;
  object-fit: contain;
}
.mt20 {
  margin-top: 20px !important;
}
.stuff-gif {
  position: absolute;
  /* margin-bottom: 59px; */
  top: 22%;
  /* align-items: inherit; */
  width: 15%;
  /* width: 100%; */
  /* border: 2px solid; */
  left: 40%;
}

.earn-img {
  padding: 50px 60px;
}
.cheap-stuff {
  width: 100%;
  background: #212121;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.stuff-text {
  /* margin-left: 5px; */
  padding: 10px !important;
}
.stuff-text h4 {
  color: beige;
  font-size: 14px;
  margin-bottom: 0;
}
.stuff-body {
  padding: 2px 35px;
}
.stuff-p {
  margin-bottom: 0;
  color: #4df03886;
}
.stuff-p img {
  width: 15%;
}
.stuff-claim {
  background: #2e2e2e;
  border: 1px solid #4cf038;
  border-radius: 5px;
  height: 35px;
  color: #4cf038;
  line-height: 0;
  font-size: 13px;
  width: 100%;
}
.stuff-go {
  background: #353535;
  border: 1px solid #989898;
  border-radius: 5px;
  height: 35px;
  color: #989898;
  line-height: 0;
  font-size: 15px;
  width: 100%;
}
.validate {
  background: #353535;
  border: 1px solid #989898;
  border-radius: 5px;
  height: 35px;
  color: #989898;
  line-height: 0;
  font-size: 10px;
  width: 100%;
}
.mt10 {
  margin-top: 10px !important;
}
