.tv-body {
  pointer-events: fill;
  /* width: 100%; */
}
.streakBreakPointsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 380px;
  padding: 10%;
}
.streakBreakText {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: mySecondFont;
  /* align-items: center;
  justify-content: center; */
  /* margin-left: 28px; */
}
.pointsText {
  background: linear-gradient(
    180deg,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-size: 14px;
  font-weight: bold;
  font-family: mySecondFont;
}
.cancelIcon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.streakBreakRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px; /* Space between rows */
}
.additionalText {
  background: rgba(160, 160, 160, 1);
  font-size: 11px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: myFirstFont;
  margin-top: 10px;
}
.additionalText1 {
  background: rgba(160, 160, 160, 1);
  font-size: 11px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: myFirstFont;
}
.additionalText2 {
  background: rgba(160, 160, 160, 1);
  font-size: 11px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: myFirstFont;
}
.check-text {
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-size: 15px;
  text-align: center;
  font-family: myFirstFont;
}
/* .containerbox {
  border-radius: 4px;
  display: flex;
  max-width: 301px;
  flex-direction: column;
  border-radius: 4px;
  background: rgb(78, 111, 78);
  display: flex;
  min-height: 41px;
  width: 100%;
} */
.containerbox {
  border-radius: 4px;
  display: flex;
  /* max-width: 301px; */
  flex-direction: row;
  align-items: center;
  background: rgba(28, 29, 28, 1);
  min-height: 41px;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  margin-top: 8px;
}
.containerbox-main {
  display: flex;
  max-width: 301px;
  flex-direction: column;
  align-items: center;
  background: rgba(28, 29, 28, 1);
  min-height: 41px;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  margin-top: 8px;
}
/* .containerbox h1 {
  color: rgba(255, 255, 255, 1);
  font-family: myFirstFont;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
} */
.containerbox button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: myFirstFont;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
}
.icon {
  width: 18px;
  height: 18px;
}
.margintopday {
  margin-top: 5px;
}
.containerbox.active {
  background: rgba(3, 72, 7, 1);
}
/* .dropdown {
  background: rgb(39, 40, 39);
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropdownItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.streakDropdownText {
  color: white;
}
.coinsText {
  color: gold;
} */
.dropdown {
  background: rgba(28, 29, 28, 1);
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropdownItem {
  background: rgba(28, 29, 28, 1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  font-family: myFirstFont;
  border-bottom: 1px solid rgba(128, 128, 128, 0.386);
}
.coinIcon {
  width: 20px;
  margin-left: auto;
}
.streakDropdownText {
  color: white;
  font-size: 12px;
}
.coinsText {
  color: white;
  font-size: 14px;
  text-align: right;
  margin-right: 5px;
  padding: 5px;
}
.scrollableContainer {
  max-height: 400px;
  overflow-y: auto;
  /* width: 100%; */
  margin-bottom: 10%;
}
