@font-face {
  font-family: myFirstFont;
  src: url("../../assets/FontFamily/VCR_OSD_MONO_1.001.ttf");
}
@font-face {
  font-family: mySecondFont;
  src: url("../../assets/FontFamily/PressStart.ttf");
}



.info-img {
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/rise-bg.png");
  font-family: myFirstFont;
  object-fit: contain;
}
.phasediv {
  border: 1px solid #4cf038;
  border-radius: 20px;
  background: #1d1d1d;
  padding: 5px;
  /* padding-bottom: 60px; */
}
.refer-head {
  border: 1px solid #4cf038;
  background-color: #000000;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: -60px !important;
}
.refer-earn {
  text-align: center;
  font-size: small;
  color: bisque;
}
tr {
  font-size: 13px;
  font-weight: 400;
}
.invite-fri {
  position: fixed;
  bottom: 15%;
  /* padding-top: 15px; */
  border-radius: 100px;
  width: 100%;
  height: 90px;
  background-color: #034807;
  text-align: center;
}
.invite-fri h2 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.claim {
  color: #2da31d !important;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  background-color: #000000;
  border: 2px solid #2da31d !important;
}
.claim-ref {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.refer-table {
  font-size: 16px;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.works-p {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  background-color: #1a2300;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  font-size: small;
  color: #4cf038;
}
.phasediv h3 {
  padding: 18px 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  font-family: mySecondFont;
  margin-bottom: 0 !important;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.info-p {
  color: #939393;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.98px;
  padding: 25px 45px 0px 45px;
  text-align: center;
  text-transform: uppercase;
}
.info-content {
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 45px 0px 45px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.phase-details h3 {
  color: #939393;
  font-family: mySecondFont;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.7px;
  text-align: center;
  text-transform: uppercase;
}

.font-2 {
  font-family: mySecondFont;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px !important;
  text-transform: uppercase;
}

.phase-para1 p {
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  padding: 2px 40px;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
