body {
  overflow: hidden;
  height: 100%;
}

.box {
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(37, 36, 34, 1),
    rgba(50, 50, 50, 1),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: #3f3e3e 3px 3px 4px 0px inset;
}
.centerBox {
  border-radius: 5px;
  border: 2.5px solid #cccccc;
  background-color: #e5e5f7;
  background-color: rgb(1, 39, 3, 1);
  opacity: 1;
  background-image: linear-gradient(0deg, #042d01 70%, #0a0a0a 50%);
  background-size: 18px 3px;
}

.homeCenterButton {
  color: rgb(41, 173, 48);
  font-family: myFirstFont;
  font-weight: 400;
  background-image: url("../assets/images/Rectangle.png");
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
/* rgb(1, 39, 3) */
.bottomtab {
  padding: 0 10px;
}
.bottomImg {
  transform: rotateX("10");
}
.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loaderstyle {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 75%);

  /* z-index: 1 */
}
.pulse-image {
  display: inline-block;
  overflow: hidden;
  animation: pulse 2s infinite;
}

.pulse-image img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the div without stretching */
}

.pulse-imagememu {
  display: inline-block;
  overflow: hidden;
  animation: pulse 2s infinite;
  height: "80%";
  width: "20%";
  position: "relative";
  /* opacity: 0.5; */
  filter: grayscale(100%);
}
.pulse-imagememu-active {
  display: inline-block;
  overflow: hidden;
  animation: pulse 2s infinite;
  height: "80%";
  width: "20%";
  position: "relative";
}
.pulse-imagememu img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the div without stretching */
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1); /* Increases the size by 10% */
  }
  100% {
    transform: scale(0.95);
  }
}
