.carousel-container {
  position: relative;
  width: 80%;
  max-width: 320px;
  margin: 0 auto;
  pointer-events: fill;
}
body {
  font-family: myFirstFont !important;
}
.carousel-content {
  text-align: center;
}
.carousel-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel-image img {
  max-width: 100%;
  height: auto;
}
.carousel-captions {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px !important;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: mySecondFont;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer !important;
  z-index: 10;
}
.carousel-button.prev {
  cursor: pointer !important;
  left: 40px;
  top: 30px;
}
.carousel-button img {  
  width: 15px;
  height: auto;
}
.carousel-button.next {
  cursor: pointer !important;
  right: 40px;
  top: 30px;
}
.leaderboard-text {
  font-size: 1.2em;
  color: #333;
  margin-top: 20px !important;
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  font-family: mySecondFont;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cancel-imgleaderboard {
  width: 20px;
  position: fixed;
  right: 12%;
  top: 7%;
}
.cheap-stuff-container {
  height: 300px;
  overflow-y: scroll;
}
.cheap-stuff1 {
  background-image: url("../../assets/images/leaderbg.svg");
  width: 100%;
  padding: 4px 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.rankbg {
  background-image: url("../../assets/images/leaderrank.svg");
  width: 100%;
  padding: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.w20 {
  width: 14% !important;
  padding-right: 5px;
}
.stuff-text1 h4 {
  color: beige;
  font-size: 16px;
  margin-bottom: 0;
}
.stuff-text1 {
  padding: 10px;
}
.rankbg h3 {
  color: #cfcbc7;
  font-family: press;
  text-align: center;
  font-size: 16px;
}
.leader-color {
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  /* text-transform: uppercase; */
}
.stuff-rank {
  color: #cfcbc7;
  font-family: press;
  text-align: center;
  font-size: 16px;
  border: none;
  background: none;
}
