@font-face {
  font-family: myFirstFont;
  src: url("../../assets/FontFamily/VCR_OSD_MONO_1.001.ttf");
}
@font-face {
  font-family: mySecondFont;
  src: url("../../assets/FontFamily/PressStart.ttf");
}
.info-img {
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/rise-bg.png");
  font-family: myFirstFont;
  object-fit: contain;
}
.fonth3 {
  margin-top: 15px !important;
  font-size: 15px;
  text-align: center;
  color: #bf15bc !important;
  font-family: mySecondFont !important;
}
